@model CascadeDropDownListASPNetMVC5.Models.PersonModel
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div id="dropDownListdiv">
        @using (Html.BeginForm("Index", "CascadingDropDownList", FormMethod.Post))
        {
            @Html.DropDownListFor(m => m.CountryId, Model.Countries, "Please select", new { @class = "form-control" })
            @Html.DropDownListFor(m => m.StateId, Model.States, "Please select", new { @class = "form-control" })
            @Html.DropDownListFor(m => m.CityId, Model.Cities, "Please select", new { @class = "form-control" })
            <input type="submit" value="Submit" />
        }
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
                 $("#dropDownListdiv").on("change", "select", function () {
                       var value = $(this).val();
                       var id = $(this).attr("id");
                       $.post("@Url.Action("setDropDrownList")", { type: id, value: value }, function (data) {
                             switch (id) {
                                     case "CountryId":
                                         PopulateDropDown("#StateId", data.States);
                                         PopulateDropDown("#CityId", data.Cities);
                                         break;
                                     case "StateId":
                                         PopulateDropDown("#CityId", data.Cities);
                                         break;
                              }
                     });
                 });
    });


             function PopulateDropDown(dropDownId, list) {
                 $(dropDownId).empty();
                 $(dropDownId).append("<option>Please select</option>")
                 $.each(list, function (index, row) {
                     if (index == 0) {
                         $(dropDownId).append("<option value='" + row.Value + "' selected='selected'>" + row.Text + "</option>");
                     } else {
                         $(dropDownId).append("<option value='" + row.Value + "'>" + row.Text + "</option>")
                     }
                 });
             }
</script>